
body {
    font-size: 16px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	margin: 0;
	padding: 10px 20px;
	text-align: center;
	color: var(--vscode-foreground);
	background-color: red important!;
}

table {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-collapse: collapse;
}

td {
	text-align: left;
}

.table-container {
    display: inline-block;
    position: relative;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    resize:horizontal;
    overflow: hidden;
}

.resizer {
    width: 10px;
    height: 100%;
    background-color: #1e8158;
    position: absolute;
    top: 0;
    right: -5px;
    cursor: ew-resize;
    user-select: none;
}
